<h2>Filtered Exibitions:</h2>


<div id="exibition-wrapper">
  <% @exibitions.each do |exibition| %>

  <div class="exibition">
    <h3><a href="/visitors/<%= exibition.id %>"><span class="blinking"><%= exibition.title %></span></a></h3>
    <h4>by <%= exibition.artist.alias %></h4>
  </div>

  <% end %>
</div>
