<!DOCTYPE html>
<html>
<head>
  <title>Art Gallery</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
  <div class="navbar">
    <a href='/visitors'>If You Are a Visitor</a>
    <div class="dropdown">
      <button class="dropbtn">If You Are a Manager
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/management/exibitions">Exibitions</a>
        <a href="/management/artists">Artists</a>
      </div>
    </div>
  </div>

  <h1> ///// Art /////// Gallery ///// </h1>

  <%= yield %>
  <footer>

      <p>Created by: Tim Laxton</p>
      <p>Contact information: <a href="timmlaxton@gmail.com">
      timmlaxton@gmail.com</a>.</p>

  </footer>
</body>
</html>
