<h2>Add New Artist</h2>

<form method="POST" action="/artists/new">
  <div class="edit-form-wrapper">

      <div class="edit-form-el">
        <label for="alias">Alias:</label>
        <input type="text" name="alias" id="alias"/>
      </div>

      <div class="edit-form-el">
        <input type="submit" value="Save"/>
      </div>
    </div>
</form>
